@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400;700&display=swap');

*{
    margin: 0;
}
body, html{
    height: 100%;
    font-size:25px;
    font-family: Sen;
    /* background-color: burlywood */
/*----------------------------------HEAD------------------------------------*/
}
h1{
    font-size: 2.5em;
}
@media screen and (max-width: 1300px) {
    body, html{
        font-size:16px;
    }
}
/*----------------------------------HEAD------------------------------------*/
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #757e73;
    padding: 0 20px;
    height: 7vh;
}
header div:first-child{
    display: flex;
    align-items: center;
}
/* nav::before{
    content: "";
    background-image: url("../img/icons8-menu-arrondi-60.png");
    z-index: 100;
} */
ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
}
li{
    margin-right: 5vw;
}
li a{
    text-decoration: none;
    color: #c0c0c0;
}
ul li:first-child a{
    color: white;
}
ul li:last-child a{
    color: black;
}
.recherche-header{
 display: flex;
 width: 200px;
 justify-content: space-between;
}
.recherche-header input {
    border-radius: 10px;
    border: none;
    height:20px;
}
.recherche-header input:focus {
    background-color: burlywood;
    box-shadow: 0 0 10px 5px burlywood;
}
/* ------------------------------------------PAGE ACCEUIL------------------------------------------ */
.acceuil-main{
    display: flex;
    height:78vh;
}
.noneDescription{
    display: none;
}
.acceuil-main article:first-child{
    display: flex;
    width: 60%;
    /* flex-grow: 3; */
}
.descriptionGin{
    display: flex;
    flex-direction: column;
    padding: 25px;
    background-color: burlywood;
    width:40%;
    /* flex-grow: 2; */
}
.descriptionGin h1{
    color: #757e73;
}
.descriptionGin h2{
    margin:10% 0 3% 0;
}
.descriptionGin h2::first-letter{
    color: #757e73;
}
.next, .prev{
    position: absolute;
}
.next{
    right: 10px;
    top: 50%;
    transform: translatey(-50%)
}
.prev{
    left: 10px;
    top: 50%;
    transform: translatey(-50%)
}
.img{
    position: relative;
    width: 100%;
    height: 100%;
}
#img{
    width: 100%;
    height: 100%;
}
.acceuil-main p, .acceuil-main h2{
    color: white;
}
/* ---------------------------------------Page concour------------------------------------------- */

.formulaire{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    height: 78vh;
    background-image: url(../img/concourImg.jpg);
    background-repeat: no-repeat;
    background-size:cover;
}
.formulaire h1{
    color: white;
}
form{
    width: 45vw;
}
fieldset{
    background-color: burlywood;
    opacity: .9;
    padding: 9%;
}
form div{
    margin-bottom: 30px;
    text-align: center;
}
form label{
    display: inline-block;
    width: 20%;
    text-align: left;
    color:white;
}
form label::after{
    content: "*"
}
fieldset div:last-child{
    text-align: center;
    margin-top: 60px;
    margin-bottom: 0px;
}
form select{
    margin-right: 13px;
}
/* table{
    border-collapse: collapse;
} */
.emailRouge{
    border: solid red;
}
.emailVert{
    border: solid green;
}
/* ----------------------------------------------------FOOTER------------------------------------------ */
footer{
    display:flex;
    align-items:center;
    justify-content:center;
    position: absolute;
    height: 15vh;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgb(231, 140, 21);
    color: white; 
}
footer p{
    font-size:1.7em;
}
@media screen and (max-width: 700px) {
    .img{
        display: none;
    }
}
@media print {
    header{
        display: none;
    }
}

/* ---------------------------------------------- Table ---------------------------------------------------- */
.tableContainer{
    display: flex;
    justify-content: center;
}

table{
    margin-top: 5em;
    border-collapse: collapse;
    width: 80%;
}
td, th{
    padding: 1em;
    text-align: left;
}
