<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block titre %}{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="/static/js/allpage.js" defer></script>
    {% block script %}{% endblock %}
</head>
<body>
{% block printStart %}{% endblock %}<header>
<div>
  <img src="../static/img/burger.png" alt="">
  <nav>
    <ul>
      <li><a href="/">Acceuil</a></li>
      <li><a href="gin">Gin</a></li>
      <li><a href="concour">Concour</a></li>
    </ul>
  </nav>
</div>
<div>
    <img id="loupe" src="/static/img/loupe.png" alt="">
    <input id="search" type="text">
</div>
</header>
{% block printEnd %}{% endblock %}
<main>
    {% block contenu %}{% endblock %}
</main>
<footer>
    <div><p>"Pourquoi aller voir ailleur quand c'est parfait chez sois" </p></div>
</footer>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-XFL6C59D52"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-XFL6C59D52');
</script>
</body>
</html>