<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block titre %}{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="icon" href="/static/img/favicon.png" type="image/png">
    <script src="/static/js/allpage.js" defer></script>
    {% block script %}{% endblock %}
</head>
<body>
<header>
<div>
  <img src="../static/img/logoSite.png" alt="Logo bouteille de Gin" onclick="logo()">
  <nav>
    <ul>
      <li><a href="/">Accueil</a></li>
      <li><a href="gin">Gin</a></li>
      <li><a href="concour">Concours</a></li>
    </ul>
  </nav>
</div>
<div>
    <a href="#">Partager</a>
    <a href="#">Connection</a>
  <div>
    <img id="loupe" src="/static/img/loupe.png" alt="loupe de recherche">
    <input id="search" type="text">
  </div>
</div>
</header>

<main>
    {% block contenu %}{% endblock %}
</main>
<footer>
    <div><p>"Pourquoi aller voir ailleurs quand c'est parfait chez-soi" </p></div>
</footer>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-XFL6C59D52"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-XFL6C59D52');
</script>
</body>
</html>