{% extends 'page_main.html' %}

{% block titre %}
TP1-Table
{% endblock %}
{% block script %}
<script src="/static/js/table.js" defer defer></script>
{% endblock %}

{% block contenu %}
<section class="tableContainer">
<table>
    <tr>
        <th>Nom</th>
        <th>Provenance</th>
        <th>Quantite</th>
        <th>Alcool</th>
    </tr>
    <tr>
        <td>Charlevoyon Gin de Petit-Lait</td>
        <td>Canada, Québec</td>
        <td>750ml</td>
        <td>40%</td>
    </tr>
    <tr>
        <td>Cirka gin 375 Edition Limite</td>
        <td>Canada, Québec</td>
        <td>500ml</td>
        <td>40%</td>
    </tr>
    <tr>
        <td>Cirka Navy Strenght</td>
        <td>Canada, Québec</td>
        <td>500ml</td>
        <td>57,1%</td>
    </tr>
    <tr>
        <td>Cirka Sauvage</td>
        <td>Canada, Québec</td>
        <td>750ml</td>
        <td>44%</td>
    </tr>
    <tr>
        <td>Comont</td>
        <td>Canada, Québec</td>
        <td>750ml</td>
        <td>43%</td>
    </tr>
    <tr>
        <td>Comont Franvoises Noires</td>
        <td>Canada, Québec</td>
        <td>750ml</td>
        <td>30%</td>
    </tr>
    <tr>
        <td>Cote des Sants Prenium</td>
        <td>Canada, Québec</td>
        <td>750ml</td>
        <td>46,2%</td>
    </tr>
    <tr>
        <td>Destillerie de la Chaufferie Furlong</td>
        <td>Canada, Québec</td>
        <td>750ml</td>
        <td>43%</td>
    </tr>
    <tr>
        <td>Distellerie des appalaches Alphonse</td>
        <td>Canada, Québec</td>
        <td>700ml</td>
        <td>0,1%</td>
    </tr>
    <tr>
        <td>Distellerie des appalaches Kepler Reserve</td>
        <td>Canada, Québec</td>
        <td>700ml</td>
        <td>40%</td>
    </tr>
    <tr>
        <td>Destillerie du Fjord 48 Chemin Price</td>
        <td>Canada, Québec</td>
        <td>500ml</td>
        <td>%</td>
    </tr>
</table>
</section>
{% endblock %}