{% extends 'page_main.html' %}

{% block titre %}
TP1-Table
{% endblock %}
{% block script %}
<script src="/static/js/table.js" defer defer></script>
{% endblock %}

{% block contenu %}
<table>
    <tr>
        <td>Nom</td>
        <td>Prénom</td>
        <td>Age</td>
        <td>Mail</td>
    </tr>
    <tr>
        <td>Savoie</td>
        <td>Pierre</td>
    </tr>
    <tr>
        <td>Joly</td>
        <td>Pauline</td>
        <td>27</td>
    </tr>
    <tr>
        <td>Joly</td>
        <td>Pauline</td>
        <td>27</td>
    </tr>
    <tr>
        <td>Joly</td>
        <td>Pauline</td>
        <td>27</td>
    </tr>
    <tr>
        <td>Joly</td>
        <td>Pauline</td>
        <td>27</td>
        <td>27</td>
    </tr>
</table>
{% endblock %}